
/*Headline*/
.header-line {
  margin: 5% 6% 0 6%;
  padding-right: 35px;
  text-align: right;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
.back-btn-area-mobile {
  display: none;
}
.cleaner-details-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #DF9A57;
  margin: 0 6%;
  padding: 2%;
  border-top: 1px solid black;
}

/*-----Cleaner Show Table-----*/
.infos-area {
  background-color: white;
  margin: 0 10%;
  border: 15px #eae9e9 solid;
  display: grid;
  grid-template-columns: 50% 50%;
}
.first-info-area {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 3% 0 3% 15%;
}
.second-info-area {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 3% 0 3% 0;
}
.info-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #4c4c4c;
  margin: 0;
}
.info-description {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
  color: #4c4c4c;
  margin: 0;
}
.info-status-confirmed {
  color: #30cc92;
}

/*-----Buttons-----*/
.cleaner-details-btns-area {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 3% 10%;
  justify-items: right;
}
.back-btn-area {
  justify-self: start;
}
.manage-calendar-btn {
  background-color: #DF9A57;
  padding: 15px 50px;
  color: white;
  border-radius: 3px;
  text-decoration: none;
}
.cleaner-details-btn {
  padding: 15px 50px;
  color: white;
  background-color: #3fa9dd;
  border-radius: 3px;
  text-decoration: none;
}
.cleaner-details-btn:hover {
  color: white;
  text-decoration: none;
  background-color: #2d87af;
}
.margin-left-25 {
  margin-left: 25px;
}

/* Media Queries
-------------------------*/

/*----- Ultrawide -----*/

@media only screen and (min-width: 2400px) {

}

/*----- Netbook -----*/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .manage-calendar-btn {
    padding: 12px 19px;
  }
  .cleaner-details-btn {
    padding: 12px 20px;
  }
  .margin-left-25 {
  margin-left: 18px;
  }
  .first-info-area {
    grid-template-columns: 37% 57%;
  }
  .info-description-phone {
    margin-top: 5%;
  }
}

/*----- Tablet -----*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .back-btn-area {
    display: none;
  }
  .back-btn-area-mobile {
    display: block;
    justify-self: start;
    margin-top: 5%;
    margin-left: 7%;
  }
  .back-btn {
    color: white;
    background-color: #3fa9dd;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 37px;
  }
  .cleaner-details-btns-area {
    grid-template-columns: 100%;
    margin: 3% 10%;
    justify-items: center;
  }
  .advance-btns-area {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    grid-row-gap: 10%;
  }
  .margin-left-25 {
    margin-left: 15%;
    margin-right: 15%;
  }
  .cleaner-details-btn {
    padding: 12px 10px;
  }

}

@media only screen and (min-width: 520px) and (max-width: 767px) {
  
}

/*----- Smartphones -----*/

@media only screen and (max-width: 767px) {
  .back-btn-area {
    display: none;
  }
  .cleaner-details-title {
    font-size: 20px;
  }
  .infos-area {
    grid-template-columns: 100%;
    margin: 0;
  }
  .back-btn-area-mobile {
    display: block;
    justify-self: start;
    margin-top: 100px;
    margin-left: 7%;
  }
  .back-btn {
    color: white;
    background-color: #3fa9dd;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 37px;
  }
  .first-info-area {
    display: grid;
    grid-template-columns: 37% 60%;
    margin: 3% 0 3% 4%;
  }
  .second-info-area {
    display: grid;
    grid-template-columns: 37% 60%;
    margin: 3% 0 3% 4%;
  }
  .cleaner-details-btns-area {
    grid-template-columns: 100%;
    margin: 3% 10%;
    justify-items: center;
  }
  .advance-btns-area {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    grid-row-gap: 10%;
  }
  .margin-left-25 {
    margin-left: 0;
    margin-right: 0;
  }
  .cleaner-details-btn {
    padding: 12px 25px;
  }
}


