
/*-----Headline-----*/
.pending-books {
  margin: 2% 6% 0 6%;
  padding-right: 35px;
  text-align: right;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
.admin-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #DF9A57;
  margin: 0 6%;
  padding: 3%;
  border-top: 1px solid black;
}

/*-----Rates Area-----*/
.rates-area {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  background-color: #eae9e9;
  margin: 0 10%;
  text-align: center;
}
.rate-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #4c4c4c;
}
.rate-value {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  color: #DF9A57;
}
input[type="text"].input-rate-room {
  width: 100%;
  font-size: 15px !important;
  color: #4C4C4C !important;
}

/*-----Modal-----*/
.modal-btn {
  background-color: #39a9db;
  color: white;
  border: 1px solid #39a9db;
  border-radius: 5px;
  width: 80%;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin: 10% 10% 30% 10%;
}
.modal-btn:hover {
  background-color: #2d87af;
}

.text-center {
  text-align: center;
}

.table-link {
  color: #4C4C4C;
  text-decoration: none;
}
.table-link:hover {
  color: #DF9A57;
}

/* Media Queries
-------------------------*/

/*----- Ultrawide -----*/

@media only screen and (min-width: 2400px) {

}

/*----- Netbook -----*/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .rates-area {
    grid-template-columns: 50% 50%;
    background-color: #eae9e9;
    margin: 0 1%;
  }
}

/*----- Tablet -----*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    margin-left: 0 !important;
  }
  .pending-books {
    font-size: 15px;
  }
  .rates-area {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #eae9e9;
    margin: 0 1%;
    text-align: center;
  }
  .rate-title {
    font-size: 19px;
  }
  .rate-value {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
  }
  input[type="text"].input-rate-room {
    width: 95%;
    font-size: 15px !important;
  }
  .modal-btn {
    width: 80%;
    font-size: 15px;
  }

}

/*----- Smartphones -----*/

@media only screen and (max-width: 767px) {
  #logo-nav {
    padding-left: 12px;
  }
  .main {
    margin-left: 0 !important;
  }
  .pending-books {
    font-size: 15px;
  }
  .rates-area {
    display: grid;
    grid-template-columns: 100%;
    background-color: #eae9e9;
    margin: 0 1%;
    text-align: center;
  }
  .rate-title {
    font-size: 19px;
  }
  .rate-value {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
  }
  input[type="text"].input-rate-room {
    width: 95%;
    font-size: 15px !important;
  }
  .modal-btn {
    width: 80%;
    font-size: 15px;
  }

}
